
.button {
    background-color: #00823b;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    padding: .526315em .789473em .263157em;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 2px 0 #003618;
    -moz-box-shadow: 0 2px 0 #003618;
    box-shadow: 0 2px 0 #003618;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
}

.button:visited {
    background-color: #00823b;
}

.button:hover, .button:focus {
    background-color: #00692f;
}

.button:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #00823b;
    -moz-box-shadow: 0 0 0 #00823b;
    box-shadow: 0 0 0 #00823b;
}

.button.disabled, .button[disabled="disabled"], .button[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.button.disabled:hover, .button[disabled="disabled"]:hover, .button[disabled]:hover {
    cursor: default;
    background-color: #00823b;
}

.button.disabled:active, .button[disabled="disabled"]:active, .button[disabled]:active {
    top: 0;
    -webkit-box-shadow: 0 2px 0 #003618;
    -moz-box-shadow: 0 2px 0 #003618;
    box-shadow: 0 2px 0 #003618;
}

.button:link, .button:hover, .button:focus, .button:visited {
    color: #fff;
}

.button:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.button:active:before {
    top: -10%;
    height: 120%;
}

@media (max-width: 640px) {
    .button {
        width: 100%;
        text-align: center;
    }
}

.button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.button:focus {
    outline: 3px solid #ffbf47;
}

.button[disabled="disabled"] {
    background: #00823b;
}

.button[disabled="disabled"]:focus {
    outline: none;
}

#global-header-internal {
    border-bottom: 1px solid #BFC1C3;
    height: 60px;
    background-color: lightskyblue;
}

@media screen and (max-width: 640px) {
    #global-header-internal {
        height: auto;
        padding-bottom: 0;
        margin-bottom: 15px;
        background-color: lightskyblue;
    }
}

#global-header-internal .header-wrapper {
    background: transparent;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 8px;
}

#global-header-internal .home-logo {
    width: 300px;
    margin: 8px 15px 0 0;
    max-width: 1200px;
}

#global-header-bar {
    position: relative;
}

@media all and (max-width: 53.75em) {
    #global-header-bar {
        padding: 0 2rem;
    }
}

@media all and (max-width: 38.75em) {
    #global-header-bar {
        margin-bottom: 0;
    }
}

#content {
    max-width: 1200px;
    margin: 0 15px;
}

@media (min-width: 641px) {
    #content {
        margin: 0 30px;
    }
}

@media (min-width: 1020px) {
    #content {
        margin: 0 auto;
    }
}

main {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    -webkit-font-smoothing: antialiased;
}

@media (min-width: 641px) {
    main {
        font-size: 19px;
        line-height: 1.31579;
    }
}

.grid-row {
    margin: 0 -15px;
}

.column-two-thirds {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width: 641px) {
    .column-two-thirds {
        float: left;
        width: 66.66667%;
    }
}

.link-back {
    display: -moz-inline-stack;
    display: inline-block;
    position: relative;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 14px;
    color: #0b0c0c;
    text-decoration: none;
    border-bottom: 1px solid #0b0c0c;
}

@media (min-width: 641px) {
    .link-back {
        font-size: 16px;
        line-height: 1.25;
    }
}

.link-back:link, .link-back:visited, .link-back:hover, .link-back:active {
    color: #0b0c0c;
    cursor:pointer;
}

.link-back::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 6px solid #0b0c0c;
    border-bottom: 5px solid transparent;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
}

.heading-xlarge {
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 32px;
    line-height: 1.09375;
    margin-top: 0.46875em;
    margin-bottom: 0.9375em;
}

@media (min-width: 641px) {
    .heading-xlarge {
        font-size: 48px;
        line-height: 1.04167;
    }
}

@media (min-width: 641px) {
    .heading-xlarge {
        margin-top: 0.625em;
        margin-bottom: 1.25em;
    }
}

.error-message {
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    color: #b10e1e;
    display: block;
    clear: both;
    margin: 0;
    padding: 2px 0;
}

@media (min-width: 641px) {
    .error-message {
        font-size: 19px;
        line-height: 1.31579;
    }
}


table th,
table td {
    text-align: left;
    vertical-align: top;
    display: table-cell;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
}

table.rates {
    width: 100%;
    border-collapse: collapse;
}

table.rates thead tr th {
    padding-top: 20px;
}

.rates th:hover {
    background-color: white;
}

.rates td:hover {
    background-color: #F8F8F8;
    cursor: pointer;
}