<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:fragment="back">
        <div style="clear:left" class="back-nav" role="navigation">
           <a id="link-back" class="link-back" th:text="#{back.link.label}" th:href="latest"></a>
        </div>
    </div>
</html>

