<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title><span th:text="#{page.not.found.page-title}" th:remove="tag"></span> - <span th:text="#{name}" th:remove="tag"></span></title>
    <object th:replace="fragments/global_includes :: global_includes" th:remove="tag">...</object>
</head>
<body>

<div th:replace="fragments/ui_header :: header">...</div>

<main id="content">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large" th:text="#{page.not.found.title}">
                <span class="heading-secondary"></span>
            </h1>

            <h2 class="heading-small" th:text="#{page.not.found.paragraph-1-header}"></h2>
            <p th:text="#{page.not.found.paragraph-1-body}"></p>
            <h2 class="heading-small" th:text="#{page.not.found.paragraph-2-header}"></h2>
            <p><span th:text="#{page.not.found.paragraph-2-body1}"></span>
            </p>
            <br>
            <a class="button" href='#' onclick="javascript:history.back();" th:text="#{page.not.found.return-button}"></a>
        </div>
    </div>
</main>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>