<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title><span th:text="#{server.error.page-title}" th:remove="tag"></span> - <span th:text="#{name}" th:remove="tag"></span></title>
    <object th:replace="fragments/global_includes :: global_includes" th:remove="tag">...</object>
</head>
<body>

<div th:replace="fragments/ui_header :: header">...</div>

<main id="content">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large" th:text="#{server.error.title}">
                <span class="heading-secondary"></span>
            </h1>
            <p th:text="#{server.error.paragraph-1-body}"></p>
            <p th:text="#{server.error.paragraph-2-body}"></p>
        </div>
    </div>
</main>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>