<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title><span th:text="#{historical.title}" th:remove="tag"></span> - <span th:text="#{name}" th:remove="tag"></span></title>
    <object th:replace="fragments/global_includes :: global_includes" th:remove="tag">...</object>
</head>

<body>
<div th:replace="fragments/ui_header :: header">...</div>
<main id="content" th:object="${historicalRates}" role="main">
    <div th:replace="fragments/simple-back-link :: back">...</div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge" th:text="#{historical.heading}"></h1>
            <p th:if="${error}">
                <span class="error-message" th:text="${error}"></span>
            </p>

            <div th:unless="${error}">
                <h1 th:text="|${historicalRates.base} #{historical.heading}|"></h1>
                <table th:class="rates">
                    <thead>
                    <tr>
                        <th>Currency</th>
                        <span th:each="rate : ${historicalRates.getHistoricalRates().get(0).getRates()}" th:remove="tag">
                            <th th:text="${rate.month}"></th>
                        </span>
                    </tr>
                    </thead>
                    <tbody>
                    <span th:each="historicalRate : ${historicalRates.getHistoricalRates()}" th:remove="tag">
                        <tr>
                            <td data-th-text="${historicalRate.getSymbol()}"></td>
                            <span th:each="rate : ${historicalRate.getRates()}" th:remove="tag">
                            <td data-th-text="${rate.rate}"></td>
                            </span>
                        </tr>
                    </span>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<div th:replace="fragments/footer :: footer">...</div>
</body>

</html>