<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title><span th:text="#{latest.title}" th:remove="tag"></span> - <span th:text="#{name}" th:remove="tag"></span></title>
        <object th:replace="fragments/global_includes :: global_includes" th:remove="tag">...</object>
    </head>
    <body>
        <div th:replace="fragments/ui_header :: header">...</div>
        <main id="content" th:object="${latestRates}" role="main">
        <div class="grid-row">
                <div class="column-two-thirds">

                    <p th:if="${error}">
                        <h1 th:text="#{name}"></h1>
                        <span class="error-message" th:if="${error}" th:text="${error}"></span>
                    </p>
                    <div th:unless="${error}">
                        <h1 th:text="|${latestRates.base} #{name}|"></h1>
                        <h2 th:text="${latestRates.date}"></h2>
                        <table th:class="rates">
                            <thead>
                                <tr>
                                    <th>Currency</th>
                                    <th>Rate</th>
                                </tr>
                            </thead>
                            <tbody>
                                <span th:each="latestRate,iter : ${latestRates.rates}" th:remove="tag">
                                    <tr>
                                        <td data-th-text="${latestRate.symbol}"></td>
                                        <td data-th-text="${latestRate.rate}"></td>
                                    </tr>
                                </span>
                            </tbody>
                        </table>
                    </div>
                    <p>
                        <a href="historical" class="button" id="home_historical" th:text="#{latest.historical}"></a>
                    </p>
                </div>
            </div>
        </main>
        <div th:replace="fragments/footer :: footer">...</div>
    </body>
</html>